
body{
    
}

header{
    background: rgb(212, 225, 87);
    text-align: center;
    height: 130px;
    line-height: 130px;
}

header > img{
  vertical-align: middle;
}

.login{
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
}

#usr, #pass{
    border:none;
    outline: none;
    display: block;
    width: 100%;
    border-bottom:2px solid rgb(212, 225, 87);
    height: 20px;  
}

#usr:focus{
    outline: none;
}

#inputContainer{
    color: rgb(170,170,170);
    font-size: 14px;
}

#loginBtn{
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    background-color: rgb(212, 225, 87);
}



