
body{
    
}

header{
    background: rgb(212, 225, 87);
    text-align: center;
    height: 150px;
    line-height: 150px;
}

header > img{
  vertical-align: middle;
}

.login{
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
}

#usr, #pass{
    border:none;
    outline: none;
    display: block;
    width: 100%;
    border-bottom:2px solid rgb(212, 225, 87);
    height: 25px;  
    font-size: 17px;
}

#inputContainer{
    color: rgb(170,170,170);
    font-size: 17px;
}

#loginBtn{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    background-color: rgb(212, 225, 87);
}

#warning{
    color:red;
    visibility: hidden;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}




